// wallpaper
spawn-at-startup "/usr/bin/awww-daemon"
// monitor
spawn-at-startup "/usr/bin/kanshi"

// cursor
cursor {
    xcursor-theme "Kazamata Neri"
    // xcursor-theme "Anathema Pink"
    xcursor-size 32
}

input {
    // Next sections include libinput settings.
    // Omitting settings disables them, or leaves them at their default values.
    // All commented-out settings here are examples, not defaults.
    touchpad {
        // off
        tap
        // dwt
        // dwtp
        // drag false
        // drag-lock
        natural-scroll
        // accel-speed 0.2
        accel-profile "flat"
		// scroll-method "two-finger"
        // disabled-on-external-mouse
    }
    mouse {
        // off
        // natural-scroll
        accel-speed -0.833
        // accel-profile "flat"
        // scroll-method "no-scroll"
    }
}
layout {
    // Set transparent workspace background color so you see the backdrop at all times.
    background-color "transparent"
    // Set gaps around windows in logical pixels.
    gaps 5
    focus-ring {
        // Uncomment this line to disable the focus ring.
        on
        // How many logical pixels the ring extends out from the windows.
        width 1
        // Color of the ring on the active monitor.
        active-color "rgb(200,190,150)"
    }
    // Struts shrink the area occupied by windows, similarly to layer-shell panels.
    // You can think of them as a kind of outer gaps. They are set in logical pixels.
    // Left and right struts will cause the next window to the side to always be visible.
    // Top and bottom struts will simply add outer gaps in addition to the area occupied by
    // layer-shell panels and regular gaps.
    struts {
        left 0
        right 0
        top 0
        bottom 0
    }
}
hotkey-overlay {
    // Uncomment this line to disable the "Important Hotkeys" pop-up at startup.
    skip-at-startup
}
// wallpaper-settings
// Set the regular wallpaper on the backdrop.
layer-rule {
    match namespace="^awww-daemon*"
    place-within-backdrop true
}
// Optionally, disable the workspace shadows in the overview.
overview {
    workspace-shadow {
        off
    }
}
window-rule {
    geometry-corner-radius 8
    clip-to-geometry true
    draw-border-with-background false
}
window-rule {
    match is-focused=false
    opacity 0.93
}
// firefox maximize
window-rule {
    match app-id="firefox-developer-edition"
    open-maximized true
}
// virtualBox maximize
window-rule {
    match app-id="VirtualBox Machine"
    open-maximized true
}
