# custom
# need to copy to directory "/etc/systemd/system/"

[Unit]
Description=Create macvlan interface for container access
PartOf=docker.service
After=network-online.target docker.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/sbin/macvlan-host
ExecStop=/usr/sbin/ip link del macvlan-host

[Install]
WantedBy=docker.service
